.s-dentist--title{
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 15px;
  font-family: var(--fontalternates);
  color: rgb(104, 91, 104);
}

.title--small{
  font-size: 1.3rem;
}

.s-dentist--text{
  line-height: 1.6;
  font-size: 1rem;
}