header{
  background-color: var(--corFour);
  text-align: center;
  padding: 15px;
}

.navigation ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navigation li a{
  color: white;
}

.img-header{
  display: none;
}

@media(min-width:1024px){
  header{
    background-color: var(--corFour);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
  }

  .img-header{
    width: 40px;
    display: block;
  }

}
