@charset "utf-8";

@import url(reset.css);
@import url(navigation.css);

hr{
  width: 40%;
  height: 1px;
  border: none;
  background-color: var(--corTwo);
  margin: 20px auto;
}

/*SECTION HOME-TOP*/
.s-home-top{
  background-image: url(./assets/imagens/pexels-photo-6627533.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.s-txt-home-top h1{
  display: none;
}

.btn{
  background-color: var(--corTwo);
  width: 200px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 15% 3%;
}

.btn a{
  color: black;
  text-transform: uppercase;
}

.s-txt-home-bottom{
  text-align: center;
}

/*SECTION KNOW-MORE*/

.container-kow-more{
  padding: 5px;
}

.s-txt-know-more p{
  line-height: 1.5em;
  text-align: justify;
  margin-bottom: 5%;
}

.s-txt-know-more h2{
  text-align: center;
  padding: 5px 0;
  color: var(--corFour);
}

.s-img-know-more img{
  width: 100%;
}

.s-img-know-more{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
}

/*SECTION PROCEDURE*/

.s-procedure{
  margin: auto;
}

.s-procedure h3{
  text-align: center;
  color: var(--corFour);
  font-size: 1.8rem;
  margin-bottom: 10%;
}

.s-title-procedure{
  display: flex;
  justify-content:flex-start;
  gap: 10%;
  color: var(--corOne);
  margin-left: 2%;
}

.s-text-procedure{
  line-height: 1.3rem;
  text-align: justify; 
  padding: 5px; 
}

.img-procedure{
  width: 30px;
}

/*SECTION MORE-INFORMATION*/

.m-information{
  text-align: center;
  padding: 5px;
}

.m-information p{
  line-height: 1.5rem;
  text-align: justify;
}

.m-information h2{
  color: var(--corFour);
  padding: 5px;
}

.m-information iframe{
  width: 100%;
  height: 300px;
}

.m-img-information{
  width: 15%;
  margin: 2% 0;
}

/*ASIDE*/

.aside-contact__list{
  padding: 5px;
}

.a-contact__list{
  margin-bottom: 8%; 
}

.a-contact__list h3 {
  color: var(--corFour);
  text-align: center;
  font-size: 1.5rem;
  padding: 8px;
}

.a-contact__list ul{
  text-align: center;
  line-height: 1.5rem;
}

.a-contact__list p{
text-align: center;
padding: 10px;
}

.a-link-access{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5%; 
}

.l-img-aside {
  width: 20px; 
}

/*FOOTER*/

.f-footer{
  background-color: var(--corFour);
  padding: 10px;
}

.f-text {
  text-align: center;
  color: var(--corThree);
}

/*TABLET*/
@media(min-width:768px){

  hr{
    width: 40%;
    height: 1px;
    border: none;
    background-color: var(--corTwo);
    margin: 4% auto;
  }
  
  /*SECTION HOME-TOP*/

  .s-home-top{
    background-position: center left;
    height: 90vh;
  }
  
  .s-txt-home-top{
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60%;
  }

  .s-txt-home-top h1{
    text-transform: uppercase;
    color:white;
    line-height: 2rem;
    display: block;
  }

  .btn{
    background-color: var(--corTwo);
    width: 200px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5%;
  }

  .btn a{
    color: black;
    text-transform: uppercase;
  }

  /*SECTION KNOW-MORE*/

  .s-img-know-more{
    gap: 2%;
  }
  .s-img-know-more img{
    width: 350px;
  }

  .s-txt-know-more h2{
    padding: 1% 0;  
  }

  /*SECTION PROCEDURE*/

  .s-procedure h3{
    margin-bottom: 5%;
  }

  .s-title-procedure{
    gap: 3%;
  }

  /*SECTION MORE-INFORMATION*/
  .m-information iframe{
    width: 100%;
    height: 400px;
  }

  .m-img-information{
    width: 10%;
    margin: auto;
    padding: 5px;
  }

  /*ASIDE*/
  .a-contact__list{
    margin-bottom: 3%; 
  }

  .a-link-access{
    gap: 10px;
    margin-top: 2%; 
  }

  .l-img-aside {
    width: 25px; 
  }

  /*FOOTER*/

  .f-footer{
  padding: 10px;
  }
}


/*Laptop*/

@media(min-width:1024px){
  hr{
    width: 10%;
    margin: 40px auto;
  }

  /*SECTION KNOW-MORE*/

  .s-txt-know-more p{
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 10px;
    width: 80%;
    margin: 20px auto;
    text-indent: 2rem;
  }

  .s-img-know-more img{
    width: 100%;
    height: 300px;
  }
  .s-img-know-more{
    padding: 24px;
  }

  /*SECTION PROCEDURE*/

  .s-container-procedure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 24px;
    gap: 10px;
    grid-auto-rows: 245px;

  }

  .s-title-procedure{
    display: flex;
    justify-content:space-evenly;
    gap: 5px;
    color: var(--corOne);
    margin-left: 0;
  }

  .s-procedure-group{
    padding: 5px;
    background-color: var(--corThree);
    border-radius: 10px;
  }

  .s-text-procedure{
    line-height: 2rem;
  }

  /*SECTION MORE-INFORMATION*/
  .m-img-information{
    width: 5%;
  } 
  
  .m-information p{
    line-height: 1.5rem;
    text-align: justify;
    width: 40%;
    margin: auto;
  }

  .m-information iframe{
    width: 100%;
    height: 500px;
  }

  /*ASIDE*/
  .a-contact__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

}



